/*全局开始*/
*{
    margin: 0;padding:0;
}
.cl{clear:both;}
body{font:14px/24px 微软雅黑;}
/*全局结束*/
/*首部开始*/
/*顶部开始*/
.top{
    width:100%;
    height:24px;
    line-height:24px;
    background-color:#303030;
    color:#303030;
    font:14px/24px 微软雅黑；
}
.top a{
    color:whitesmoke;
    text-decoration:none;
}
.top a:hover{
    color:deepskyblue;
}
.top span{
    margin-right: 15px;}
.top span.zhuce{margin: 0;}
.wp{width:960px;  margin:0 auto;}
.z{float:left;}
.y{float:right;}
/*顶部结束*/
/*logo开始*/
.nsclogo{
    float:left;
}
.NSC{
    float:left;
    font: 40px/50px 微软雅黑;
}
/*logo结束*/
/*导航开始*/
.dh{
    margin:0;
    background-color:#303030 ;
    width:100%;
    height:39px;
}
.dh li{
    list-style:none;
    float:left;
    line-height: 39px;
    /*padding-right:60px;
    padding-left:60px;*/
    padding:0 60px;
}
.dh li.zyfx , .dh li:hover{
    background-color: #1d1d1d;
}
.dh a{
    color:#fff;
    font-size:16px;
    text-decoration:none;
}
.dh a:hover {
    color:deepskyblue;
}

/*导航结束*/
/*首部结束*/
.center{
    height:1000px;
    width:960px;
    margin:0 auto;
    background-color:whitesmoke;
}
/*底部开始*/
.footer{
    margin-bottom: 0;
    height:50px;
    width:100%;
    background-color: #303030;
}
.dz{
    float:right;
    color:whitesmoke;
}
.lxfs{
    float:right;
    color:whitesmoke;
}
/*底部结束*/
